.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.658);
  color: orangered;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: orangered;
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: larger;
}
body {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQHzxyRAzj4T5Q/company-background_10000/0/1603740526909?e=2159024400&v=beta&t=s70FD8e2mL0wMJ0_hjcNybGkafoeqsAnSIIZKucj1gU");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.liked-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:orangered;
  margin-left: 30px;
}

.liked-num {
  background-color: grey;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

.all-cars {
  display: flex;
  margin: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.507);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(255, 68, 0, 0.925);
  border-radius: 10%;
  max-width: 400px;
  margin: 90px 80px 100px 100px;
}

.card-img-top {
  border-top-right-radius: 12%;
  border-top-left-radius: 12%;
  width: 400px;
  height: 400px;
}
.card-text {
  font-size: 20px;
}

.card-body {
  color: whitesmoke;
  margin: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
#prvoDugme {
  margin-left: 155px;
}
.btn {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 6px;
  align-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid orangered;
  cursor: pointer;
}
.navName {
  color: orangered;
  font-size: 4.5vh;
	@@ -94,25 +98,41 @@ a {
  cursor: pointer;
}
.naslov1 {
  margin-left: 750px;
  color: orangered;
  margin-bottom: -45px;
}

.liked-container {
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.card-liked {
  background-color: rgba(0, 0, 0, 0.507);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(255, 68, 0, 0.938);
  border-radius: 15%;
  flex-direction: row;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 50px;
}

.card-img-left {
  width: 390px;
  height: 390px;
  margin: 2px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.card-body-left {
  margin-top: 80px;
  margin-right: 20px;
  color: white;

  float: right;
}