.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.658);
  color: orangered;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: orangered;
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: larger;
}
body {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQHzxyRAzj4T5Q/company-background_10000/0/1603740526909?e=2159024400&v=beta&t=s70FD8e2mL0wMJ0_hjcNybGkafoeqsAnSIIZKucj1gU");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.liked-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.liked-num {
  background-color: grey;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-cars {
  display: flex;
  margin: 20px;
}

.card {
  background-color: orangered;
  border-style: solid;
  border-width: 2px;
  border-color: orangered;
  border-radius: 10%;
  max-width: 600px;
  margin: 80px;
}

.card-img-top {
  border-top-right-radius: 12%;
  border-top-left-radius: 12%;
  width: 450px;
  height: 450px;
}

.card-body {
  margin: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.btn {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  margin-left: 200px;
  margin-bottom: 4px;
  align-content: center;
  text-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.navName {
  color: orangered;
  font-size: 4.5vh;
  font-family: "Snell Roundhand", cursive;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.naslov1 {
  margin-left: 770px;
  color: orangered;
  margin-bottom: -45px;
}
.liked-container {
  margin: 20px;
}

.card-liked {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}