.navBar {
  display: flex;
  flex-direction: row;
  background-color:rgb(29, 155, 113) ;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: white;
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: larger;
}
body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=996&t=st=1663192439~exp=1663193039~hmac=e1fcfc03100a8b0fe7bb3f5f4f46f7484d9e47d3ac6168a26f661a21ba00e20f");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.liked-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-left: 30px;
}

.liked-num {
  background-color:rgb(13, 67, 49);
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

.all-perfumes {
  display: flex;
  margin: 20px;
}


.card {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color:  rgb(29, 155, 113);
  border-radius: 10%;
  max-width: 400px;
  margin: 90px 80px 100px 100px;
}

.card-img-top {
  border-top-right-radius: 12%;
  border-top-left-radius: 12%;
  width: 400px;
  height: 400px;
}
.card-text {
  font-size: 20px;
  color:  rgb(29, 155, 113);
}
.card-body {
  color:  rgb(29, 155, 113);;
  margin: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
#prvoDugme {
  margin-left: 155px;
}
.btn {
  background-color:  rgb(29, 155, 113);;
  color: black;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 8px;
  align-content: center;
  text-align: center;
  align-items: center;
  border: 5px solid  rgb(29, 155, 113);
  cursor: pointer;
}
.navName {
  color:  white;
  font-size: 4.5vh;
  font-family: "Snell Roundhand", cursive;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.naslov1 {
  margin-left: 750px;
  color: rgb(29, 155, 113);
  margin-bottom: -45px;
}

.liked-container {
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.card-liked {
  flex-direction: row;
  max-width: 800px;
  max-height: 400px;
  margin-bottom: 50px;
}

.card-img-left {
  width: 390px;
  height: 390px;
  margin: 2px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.card-body-left {
  margin-top: 80px;
  margin-right: 10px;
  color: rgb(29, 155, 113);
  float: right;
}
